<mat-toolbar color="primary">
  <div fxLayout="row" fxFlex fxLayoutAlign="end center">
    <a fxFlex mat-button [routerLink]="['welcome']" routerLinkActive="router-link-active"><span>Noracle</span></a>
    <span fxFlex="grow"></span>
    <dnor-space-dropdown *ngIf="authGuardService.isAuthorized()"></dnor-space-dropdown>
    <a fxFlex mat-button (click)="logout()" *ngIf="authGuardService.isAuthorized()"><span>Logout</span></a>
    <a fxFlex mat-button [routerLink]="['login']" routerLinkActive="router-link-active" *ngIf="!authGuardService.isAuthorized()">
      <span>Login</span>
    </a>
  </div>
</mat-toolbar>
