<div mat-dialog-content>
  <div>
    <blockquote *ngIf="!editingQuestion">"{{data.text}}"
      <button mat-icon-button (click)="editingQuestion=true;" *ngIf="data.isAuthor" color="secondary">
        <mat-icon>edit</mat-icon>
      </button>
    </blockquote>
    <mat-form-field *ngIf="editingQuestion">
      <textarea matInput tabindex="1" [(ngModel)]="data.text"></textarea>
    </mat-form-field>
    <button mat-icon-button *ngIf="editingQuestion" (click)="editingQuestion=false;" color="secondary">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="by">
    {{data.authorName}} ({{data.lastModified}})
  </div>
  <br>
  <div class="votes" style="width: 100px">
    <dnor-vote-donut descriptor="vote">
      <dnor-donut-item name="Good" color="#31ca31" [count]="data.votes.good"></dnor-donut-item>
      <dnor-donut-item name="Bad" color="red" [count]="data.votes.bad"></dnor-donut-item>
      <dnor-donut-item name="Neutral" color="grey" [count]="data.votes.neutral"></dnor-donut-item>
    </dnor-vote-donut>
  </div>

  <mat-radio-group *ngIf="!data.isAuthor" [(ngModel)]="data.vote">
    <p><mat-radio-button [value]="1">I like that question. It is particularly helpful for me.</mat-radio-button></p>
    <p><mat-radio-button [value]="0">I am undecided whether this question is helpful for me.</mat-radio-button></p>
    <p><mat-radio-button [value]="-1">This question did not help me.</mat-radio-button></p>
  </mat-radio-group>

</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.text" tabindex="2">Save</button>
  <button mat-raised-button (click)="onCancel()" tabindex="-1">Cancel</button>
</div>
