<!--- <h1 md-dialog-title>{{data.authorName}}</h1> -->
<div md-dialog-content>
  <div>
    <blockquote *ngIf="!editingQuestion">"{{data.text}}" 
      <button md-icon-button (click)="editingQuestion=true;" *ngIf="data.isAuthor" color="secondary">
        <md-icon>edit</md-icon>
      </button>
    </blockquote>
    <md-form-field *ngIf="editingQuestion">
      <textarea mdInput tabindex="1" [(ngModel)]="data.text"></textarea>
    </md-form-field>
    <button md-icon-button *ngIf="editingQuestion" (click)="editingQuestion=false;" color="secondary">
      <md-icon>arrow_back</md-icon>
    </button>
  </div>
  <div class="by">
    {{data.authorName}} ({{data.lastModified}}) 
  </div>
  <br>
  <div class="votes" style="width: 100px">
    <svg height="150px" width="100px" viewBox="0 0 120 120">
      <circle *ngFor="let item of items;let i=index" cx="60" cy="60" r="50" fill="transparent" stroke-width="3  " [attr.stroke-dasharray]="getPerimeter(50)"
        [attr.stroke-dashoffset]="getOffset(50,i)" [attr.stroke]="item.color" />
      <text x="50%" y="46%" alignment-baseline="middle" text-anchor="middle" fill="white" font-size="40px" font-weight="italic">{{data.votes.total}}</text>
      <text x="50%" y="68%" alignment-baseline="middle" text-anchor="middle" fill="white" font-size="15px">{{data.votes.total === 1 ? "vote" : "votes"}}</text>
    </svg>
  </div>

  <md-radio-group *ngIf="!data.isAuthor" [(ngModel)]="data.vote">
    <p><md-radio-button [value]="1">I like that question. It is particularly helpful for me.</md-radio-button></p>
    <p><md-radio-button [value]="0">I am undecided whether this question is helpful for me.</md-radio-button></p>
    <p><md-radio-button [value]="-1">This question did not help me.</md-radio-button></p>
  </md-radio-group>

</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="data.text" tabindex="2">Save</button>
  <button md-button (click)="onCancel()" tabindex="-1">Cancel</button>
</div>