<button mat-button [matMenuTriggerFor]="menu">Spaces</button>
<mat-menu #menu [overlapTrigger]="false">
  <a *ngFor="let space of spaces" mat-menu-item
     [routerLink]="['spaces', space.space.spaceId]"
     [queryParams]="{sq: getStringifiedParamArray(space.subscription)}"
     routerLinkActive="router-link-active"><span>{{space.space.name}}</span></a>
  <hr *ngIf="spaces.length>0"/>
  <a mat-menu-item [routerLink]="['myspaces']"><span>Show Space Overview</span></a>
  <a mat-menu-item [routerLink]="['spaces', 'create']"><span>Create new Space</span></a>

</mat-menu>
