<h1 md-dialog-title>{{data.title}}</h1>
<div md-dialog-content>
  <span *ngFor="let line of data.lines">{{line}}<br/></span>
  <md-radio-group [(ngModel)]="data.selectedRelationType">
    <p *ngFor="let type of getRelationTypes()">
      <md-radio-button [value]="type">{{getRelationTypeLabel(type)}}
      </md-radio-button>
    </p>
  </md-radio-group>
</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="data.selectedRelationType" tabindex="2">Ok</button>
  <button md-button (click)="onCancel()" tabindex="-1">Cancel</button>
</div>
