<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <span *ngFor="let line of data.lines">{{line}}<br/></span>
  <mat-radio-group [(ngModel)]="data.selectedRelationType">
    <p *ngFor="let type of getRelationTypes()">
      <mat-radio-button [value]="type">{{getRelationTypeLabel(type)}}
      </mat-radio-button>
    </p>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.selectedRelationType" tabindex="2">Ok</button>
  <button mat-raised-button (click)="onCancel()" tabindex="-1">Cancel</button>
</div>
