<h1>Create a new Space:</h1>

<form #creationForm="ngForm" (ngSubmit)="createSpace()">
  <p>
    <mat-form-field>
      <input matInput id="name" name="space.name" placeholder="Space Name" [(ngModel)]="space.name" maxlength="20"
             required/>
      <mat-hint align="end">{{space.name.length}} / 20</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
    <textarea matInput id="question" name="question.text" placeholder="Seed Question" [(ngModel)]="question.text"
              maxlength="140" required></textarea>
    </mat-form-field>
  </p>
  <button type="submit" mat-raised-button color="primary" [disabled]="!creationForm.form.valid">Create</button>
</form>
