<img src="assets/logo.png" />
<section class="mat-typography">
<p>
  Noracle is a tool for question-based dialogue. The Noracle Space starts with a seed question, which is any highly relevant, complex question that has no identifiable answer but which is critical for your community.
  <br><br>
  Contributors in the Noracle Space “respond” to this seed question with related follow-up questions that can help to unpack or further explore the seed question. Contributors can also respond to any follow-up questions with another question.
  <br><br>
  Noracle's purpose is to uncover and represent community ignorance: the things we do not yet know and the questions we need to answer. As such, the first rule is: you may only ask questions in this tool. You may not provide any answers or answers formulated as questions (e.g.. "wouldn't it be nice if you did _____?").
  <br><br>
  If you feel you have an answer, think back to what question might have helped you to arrive at that answer and add that to the Noracle Space.
  <br><br>
  Noracle is non-hierarchical. In a traditional question-answer paradigm, you have experts and novices and the contributions of each group tend to be asymmetric. In Noracle, novices and experts can contribute side-by-side.
  <br><br><br>
  Do you have further questions, ideas or feedback? Feel free to drop us an e-mail at <a href="mailto:noracle@dbis.rwth-aachen.de">noracle@dbis.rwth-aachen.de</a>.
</p>
</section>
<a href="https://las2peer.org/"><img class="banner" src="assets/las2peer.svg" /></a>