<div mat-dialog-content>
  <blockquote>"{{data.targetText}}"</blockquote>
  <div style="width:100%; text-align: center">
    <div *ngIf="!editingRelation">
      ... {{data.relationTypeText}} ...
      <button mat-icon-button (click)="editingRelation=true;" *ngIf="data.isAuthor" color="secondary">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <mat-radio-group *ngIf="editingRelation" [(ngModel)]="data.relationType">
      <p><mat-radio-button [value]="data.relationTypes[0]">{{data.relationTypesText[0]}}</mat-radio-button></p>
      <p><mat-radio-button [value]="data.relationTypes[1]">{{data.relationTypesText[1]}}</mat-radio-button></p>
    </mat-radio-group>
    <button mat-icon-button *ngIf="editingRelation" (click)="editingRelation=false;" color="secondary">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <blockquote>"{{data.sourceText}}"</blockquote>
  <div class="by">
    {{data.authorName}} ({{data.lastModified}})
  </div>
  <br>
  <div class="votes" style="width: 100px">
    <dnor-vote-donut descriptor="vote">
      <dnor-donut-item name="Good" color="#31ca31" [count]="data.votes.good"></dnor-donut-item>
      <dnor-donut-item name="Bad" color="red" [count]="data.votes.bad"></dnor-donut-item>
      <dnor-donut-item name="Neutral" color="grey" [count]="data.votes.neutral"></dnor-donut-item>
    </dnor-vote-donut>
  </div>

  <mat-radio-group *ngIf="!data.isAuthor" [(ngModel)]="data.vote">
    <p><mat-radio-button [value]="1">I agree with this relation. It makes sense to me.</mat-radio-button></p>
    <p><mat-radio-button [value]="0">I am undecided whether this relation makes sense to me.</mat-radio-button></p>
    <p><mat-radio-button [value]="-1">I do not agree. I really cannot see the connection.</mat-radio-button></p>
  </mat-radio-group>

</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.sourceText" tabindex="2">Save</button>
  <button mat-button (click)="onCancel()" tabindex="-1">Cancel</button>
</div>
