<div class="container" fxLayout="row">
  <div class="main-container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 class="mat-h1 title">My Spaces</h1>
    <mat-spinner *ngIf="!this.spacesLoaded"></mat-spinner>
    <div *ngIf="this.spacesLoaded && this.mySpaces.length == 0">You have not yet subscribed to a space.</div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <div *ngFor="let space of mySpaces">
        <!-- <a class="space-link" mat-button color="primary" [routerLink]="['/spaces', space.space.spaceId]"
        [queryParams]="{sq: getStringifiedParamArray(space.subscription)}">{{space.space.name}}</a> -->
        <span class="space-link" [routerLink]="['/spaces', space.space.spaceId]"
        [queryParams]="{sq: getStringifiedParamArray(space.subscription)}">{{space.space.name}}</span>
        <button mat-icon-button (click)="copyInviteUrl(space)" color="primary">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
    <button mat-raised-button color="primary" routerLink="/spaces/create">Create new Space</button>
    <br>

    <h1 class="mat-h1 title">Recommended For You</h1>
    <mat-spinner *ngIf="!this.recommendationsLoaded"></mat-spinner>
    <div *ngIf="this.recommendationsLoaded && this.recommenderQuestions.length == 0">
      There are no recommendations for you at the moment :(
    </div>
    <!--<div fxLayout.lt-lg="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <button mat-button color="primary" *ngFor="let r of recommenderQuestions" (click)="recClicked(r)">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-icon>star</mat-icon>
          <div>
            <div>{{r.question.text}}</div>
            <div>Asked by {{r.authorName}}</div>
            <div>{{getDateFormat(r.question.timestampCreated)}}</div>
          </div>
        </div>
      </button>
    </div> -->
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <!-- <li class="splide__slide">Slide 01</li>
          <li class="splide__slide">Slide 02</li>
          <li class="splide__slide">Slide 03</li> -->
          <!-- <li class="splide__slide" *ngFor="let r of recommenderQuestions">
            {{r.question.text}}
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="side-container">
    <h4>Public Spaces</h4>
    <mat-spinner *ngIf="!this.publicSpacesLoaded"></mat-spinner>
    <div *ngIf="this.publicSpacesLoaded && this.publicSpaces.length === 0">There are no public spaces in your network.</div>
    <div class="public-spaces" fxLayout="column" fxLayoutGap="12px">
      <div class="public-space" *ngFor="let s of publicSpaces" (click)="publicSpaceClicked(s)">
        <mat-icon color="primary">chat_bubble_outline</mat-icon>
        <span class="space-link">{{s.name}}</span>
      </div>
    </div>
</div>
