<h1 class="mat-h1">My Spaces</h1>
<mat-list>
  <mat-list-item *ngFor="let space of spaces">
    <a mat-button color="primary" [routerLink]="['/spaces', space.space.spaceId]"
       [queryParams]="{sq: getStringifiedParamArray(space.subscription)}">{{space.space.name}}</a>
    <button mat-icon-button (click)="copyInviteUrl(space)" color="primary">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
      <mat-icon svgIcon="img:bot"></mat-icon>
    </button>
    <mat-menu #menu [overlapTrigger]="false">
      <button mat-menu-item [matMenuTriggerFor]="menu2">
          <mat-icon class="menuItem" svgIcon="img:add"></mat-icon>
          <span>Add Bot</span>
          <mat-menu #menu2 [overlapTrigger]="false">
            <mat-list-item *ngFor="let bot of bots">
              <a mat-menu-item (click)="addBot(space,bot.name,bot.active)">
              <mat-icon class="menuItem" svgIcon="{{bot.icon}}"></mat-icon>
              <span>{{bot.name}}</span></a>
            </mat-list-item>
          </mat-menu>
        </button>
      <a mat-menu-item target="_blank" href="{{botWidgetUrl}}/widgets/train.html?unit={{space.space.spaceId}}">
        <mat-icon class="menuItem" svgIcon="img:train"></mat-icon>
        <span>Train Bot</span></a>
    </mat-menu>
  </mat-list-item>
</mat-list>



<br>
<button mat-raised-button color="primary" routerLink="/spaces/create">Create new Space</button>
