/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
 */

@-ms-viewport {
  width: device-width;
}

body {
  margin: 0px;
}

div.content {
  margin: 8px;
}
